body {
    background: maroon;
    margin: 0;
    padding: 0;
    color: white;
}

.backbutton {
    background-color: midnightblue;
    padding: 20px 30px;
    border: none;
    position: relative;
    cursor: pointer;
}

.outfitinfo {
    border: 1px solid black;
}